.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  margin-left: 2.5em;
}

.about-text-wrap {
  width: 50%;
}

.about-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.gradient {
  width: 45%;
  height: 100px;
  background: linear-gradient(#0000, #001219);
  position: absolute;
  top: 29.5em;
}

.about-heading {
  font-size: 4.9em;
  margin-bottom: 0.2em;
  text-align: left;
  color: white;
}

.about-paragraph {
  font-size: 1.3em;
}

.contact-btn {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 0.3em;
  background-color: white;
  margin-right: 1.3em;
}
.contact-btn:nth-child(2n) {
  color: white;
  text-decoration: none;
  border: 0.5px solid white;
  padding: 5px 10px;
  border-radius: 0.3em;
  background-color: black;
  margin-right: 1.3em;
}

.home-img {
  width: 23em;
}

@media screen and (max-width: 800px) {
  .about-content {
    align-items: left !important;
    flex-direction: column;
  }

  .about-paragraph {
    font-size: 1em;
  }

  .home-img {
    width: 19em;
  }

  .about-text-wrap {
    width: 100%;
  }

  .gradient {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .contact-btn {
    font-size: 0.8em;
  }
}
