.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  text-align: left;
}

.about-text-wrap {
  width: 50%;
}

.about-heading {
  font-family: "Poppins";
  font-size: 4.9em;
  margin-bottom: 0.2em;
  text-align: left;
  color: white;
}

.about-paragraph {
  font-family: "pt-sans";
  font-size: 1.4em;
}

.contact-span {
  color: white;
}

.contact-span:hover {
  color: #0a9396;
}

@media screen and (max-width: 500px) {
}
