.project-wrap {
  text-align: left;
  width: 100%;
}

.project-content {
  display: flex;
  margin-top: 5em;
}

.proj-heading {
  font-size: 3em;
  margin: auto;
}

.tech-list-1 {
  color: #cca677;
}

.tech-list-2 {
  color: #e9a1ff;
}

.tech-list-3 {
  color: #457b9d;
}

.proj-text:nth-of-type(1n) {
  margin-left: 2.5em;
  margin-right: 3em;
}

.tech-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  padding-right: 8px;
}

.project-para {
  font-size: 1em;
  margin: auto;
}

.project-img {
  width: 50%;
}

.button-wrap {
  margin-top: 1em;
}

.button {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 0.3em;
  background-color: white;
  margin-right: 1.3em;
}
.button:nth-of-type(2n) {
  color: white;
  background-color: black;
  border: 1px solid white;
}

@media screen and (max-width: 800px) {
  .project-content {
    flex-direction: column;
  }

  .project-img {
    width: 80%;
    margin: 2.5em;
  }

  .project-img-fr {
    order: 1;
  }
}
