.navbar {
  background-color: #001219;
  color: white;
}

.nav-link:focus {
  color: #0a9396;
}

.nav-link:hover {
  color: #0a9396;
}

.nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  text-transform: uppercase;
}

.nav-link:hover::after {
  width: 70%;
  color: #0a9396;
  transition: width 0.3s;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  color: #0a9396;
  background: #0a9396;
  transition: width 0.3s;
}

.d-inline-block {
  border-radius: 50%;
  margin-left: 0.8em;
}

.name-logo {
  display: inline;
  position: relative;
  top: 1.1em;
  left: 1em;
  font-family: "Poppins";
}
